* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    min-height: 100vh;
    background: linear-gradient(rgb(255 255 255 / 69%), rgb(255 255 255 / 70%)), url(../assets/images/background.png) no-repeat;
    background-position: 27% 73%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.login-box {
    position: relative;
    width: 350px;
    height: 62vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background: rgb(255 255 255 / 32%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgb(134 255 170 / 40%) 0px 30px 90px;
}

.login-box form{
    width: 100%;
}


.login-box::before, .login-box::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: #00d062;
    border-radius: 50%;
    z-index: -1;
}

.login-box::before {
    top: -60px;
    right: -60px;
}

.login-box::after {
    bottom: -60px;
    left: -60px;
}

h2 {
    text-align: center;
    color:  #3ca46d;
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: uppercase;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 16px;
    border-bottom: 3px solid #3ca46d;
    outline: none;
    color: #333;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.input-box label {
    position: absolute;
    top: 16px;
    left: 0;
    color: #666666;
    pointer-events: none;
    transition: 0.3s;
    padding: 0 10px;
}

.input-box input:focus ~ label, .input-box input:valid ~ label {
    top: -19px;
    color: #3ca46d;
    font-size: 16px;
    left: -10px;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    background: #28e17f;
    color: white;
    margin-top: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #2e7d57;
}

.btn.secondary {
    background: #ddd;
    color: #333;
}

.btn.secondary:hover {
    background: #bbb;
}